body {
    font-family: 'Arial'; 
    padding: 60;
    background-color: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#resume {
    background-color: #2e2e2e;
    width: 20cm;
    height: 18cm;
    padding: 80px;
    padding-bottom: 180px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgb(0, 0, 0); 
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contactInfo {
    text-align: left;
    margin-right: 30px;
}

h1 {
    margin: 0;
}

p {
    margin: 5px 0;
}

#idPlaceholder {
    text-align: right;
}

#idPlaceholder img {
    max-width: 100%;
    border-radius: 5px;
}

.divider {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ccc;
}
